* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 1.2;
    font-size: 18px;
    background-color: #66deb2;
    gap: 50px;
}

.clear-storage-btn {
    background: #0be69d;
    border: none;
    cursor: pointer;
    width: auto;
    font-size: 28px;
    padding: 15px;
    border-radius: 15px;
    border: outset;
}

.clear-storage-btn:hover {
    background: #49e60b;
    transition: all 0.3s;
    transform: matrix(1.1, 0, 0, 1.1, 0, 0);
}

.todo-item__delete:hover {
    border-radius: 15px;
    border: outset;
    background: #49e60b;
    transition: all 0.3s;
    transform: matrix(1.1, 0, 0, 1.1, 0, 0);
}

.form {
    gap: 10px;
}

.form__btn:hover {
    border-radius: 15px;
    border: outset;
    background: #49e60b;
    transition: all 0.3s;
    transform: matrix(1.1, 0, 0, 1.1, 0, 0);
}

h1,
h2 {
    text-align: center;
    margin-bottom: 15px;
}

.container {
    width: 100%;
    margin: 0 auto;
    max-width: 75%;
}

.form {
    border-radius: 10px;
    background: #fff;
    padding: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
}

.form__input {
    min-height: 25px;
    padding: 10px;
    width: 100%;
    border: 1px solid;
}

.form__btn {
    background: #0be69d;
    border: none;
    cursor: pointer;
    width: 100px;
}

li {
    display: flex;
    padding: 10px;
    background: #fff;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.todo-item--checked {
    text-decoration: line-through;
}

.todo-item__description {
    flex-grow: 1;
    padding-left: 10px;
}

.todo-item__delete {
    background: #0be69d;
    border: none;
    cursor: pointer;
    width: max-content;
    padding: 10px;
}

.completed {
    display: none;
}

.completed-icon {
    width: 20px;
    height: 20px;
}